---
---

/* 1. This line needs to stay to get the default/base theme */

@import "minima";

/* 2. CUSTOM CSS - put YOUR CSS here */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   
   background-color: #d8dee9 !important;
}

* {
   font-family: 'Roboto', sans-serif;
   font-weight: 400 !important;
   font-size: 20px !important;
}

/* hide things */

.post-meta,
.site-nav,
.rss-subscribe,
.site-footer {
   display: none !important;
}

/* .site-title */

.site-title {
   letter-spacing: initial;
}

/* .post-list-heading */

.post-list-heading {
   margin-top: 2.5em;
}

/* .post-list */

.post-list li {
   margin-bottom: 0.25em;
}

.post-list li h3 {
   margin-bottom: 0;
}

/* .post-link */

.post-link {
   color: #111 !important;
}

.post-link::before {
   content: "• ";
   white-space: pre;
}
